Makefile
build-stamp
configure-stamp
debian/files
debian/libqtmozembed-dbg/
debian/libqtmozembed-dev/
debian/libqtmozembed.postinst.debhelper
debian/libqtmozembed.postrm.debhelper
debian/libqtmozembed.substvars
debian/libqtmozembed/
debian/tmp/
objdir-*/
*.o
/documentation.list
/RPMS/
moc/
libqt5embedwidget.so*
/qmlplugin5/libqmlmozembedpluginqt5.so
/src/pkgconfig/
/src/libqt5embedwidget.prl
/tests/qmlmoztestrunner/qmlmoztestrunner
debugfiles.list
debuglinks.list
debugsourcefiles.list
debugsources.list
elfbins.list
